body{
    background-color: black;
  }
  ul{
    list-style-type: none;
    color: white;
    font-family: montserrat, arial, sans-serif;
    font-size: large;
    margin-top: 10%;
  }
  li{
    display: inline;
    padding: 20px;
  }
  .navigation{
    display: flex;
    justify-content: space-between;
  }
  .inline-block{
   display: inline-block;
   vertical-align: top;
  }
  .logo{
    width: 23%;
    padding: 1%;
    text-align:center;
  }
  p{
    color: white;
    font-size: 24px;
    font-family: montserrat, arial, sans-serif;
    margin-left: 50%;
    margin-top: -550px;
    text-align: center;
    width: 400px;
  }
  .heroimg{
    margin-left: -100px;
    margin-top: 50px;
    height: 600px;
    padding: 25px;
  }
.content{
    width: 500px;
    margin: 0 auto;
}
  .button{
    text-align:center;
    color: white;
    background-color: black;
    font-size:18px;
    float:right;
    margin-right: -50px;
    margin-top: 40px;
    padding: 20px;
    border: 2px solid #14ED29;
  }
  footer{
    display: inline-block;
    vertical-align: bottom;
  }
  h1{
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: montserrat, arial, sans-serif;
    margin-top: 30%;
  }
  .flexContainer{
    display: grid;
    grid-area: 'x skillset';
    width: 33%;
    justify-content: center;
    margin-left: 30%;
    margin-right: 33%;
    margin-top: 5%;
  }
  .X{
    position: absolute;
    top: 790px;
    right: 30%;
    grid-area: x;
  }
  .skillset{
    width: 200px;
    text-align: center;
    margin-left: 43%;
    margin-right: 33%;
    grid-area: skillset;
  }
  .workgrid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 12.5%;
  }
  .text{
    width: 400px;
  }
  .csbutton{
    text-align:center;
    color: white;
    background-color: black;
    font-size:18px;
    margin-right: -50px;
    margin-top: 40px;
    padding: 20px;
    border: 2px solid #0047FF;
    margin-left: 65px;
  }
  .csbutton2{
    text-align:center;
    color: white;
    background-color: black;
    font-size:18px;
    margin-right: -50px;
    margin-top: 200px;
    padding: 20px;
    border: 2px solid #FF0000;
  }